body {
    margin: auto;
}

header {
    text-align: center;
    background-color: turquoise;
    padding: 20px;
}

nav a {
    /* padding: 15px; */
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}

.block {
    margin: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.grey {
    color: grey;
}