{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Save</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <h1>Save</h1>
        <nav>
            <a href="/">Lists</a>
            <a href="{% url 'list_create' %}">Add a list</a>
            <div class="user-info">
                {% if user.is_authenticated %} Welcome, {{ user.username }}
                    <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class='block'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>