{% extends 'save/base.html' %}

{% block content %}
<div class="list_form2">
    <h2>{{ list.title }} <a href="{% url 'list_update' pk=list.pk %}">(edit)</a><a href="{% url 'list_delete' pk=list.pk %}">(delete)</a></h2>
    <form class="list_input" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="list_form_save" type="submit">Save</button>
    </form>
    <ul>
        {% for item in list.items.all %}
            {% if item.complete %}
                <li class="grey">
                    {{ item.item }}
                    <a class="edit" href="{% url 'item_update' pk=item.pk %}">(Edit)</a>
                    <a class="delete" href="{% url 'item_delete' pk=item.pk %}">(Delete)</a>
                </li>
            {% elif item.priority %}
                <li class="red">
                    {{ item.item }}
                    <a class="edit" href="{% url 'item_update' pk=item.pk %}">(Edit)</a>
                    <a class="delete" href="{% url 'item_grey' pk=item.pk %}">(Complete)</a>
                </li>
            {% else %}
                <li class="green">
                    {{ item.item }}
                    <a class="edit" href="{% url 'item_update' pk=item.pk %}">(Edit)</a>
                    <a class="delete" href="{% url 'item_grey' pk=item.pk %}">(Complete)</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% endblock %}